@page
@model RazorPages.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["showButton"] = true;

}

<style>
    .btn {
        width: 75px;
    }

    .imageThumbnail {
        height: 200px;
        width: auto;
    }
</style>

<h1>Employees</h1>
<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<vc:head-count department="@null"></vc:head-count>

<div class="card-deck">
    @foreach (var employee in Model.employees)
    {
        <partial name="_DisplayEmpPartial" view-data="ViewData" model="employee" />
    }
</div>