@page
@model RazorPages.Pages.NotFoundModel
@{
}
<h2>The Resources you are looking for cannot be found!</h2>
<a asp-page="/Employees/Index" class="btn btn-outline-primary">
    Click here to get back to Home
</a>